@import "bootstrap-sprockets";
@import "bootswatch/cyborg/variables";
@import "bootstrap";
@import "bootswatch/cyborg/bootswatch";
@import "font-awesome";
@import "transitions";

.pad-img {
  padding: 10px;
}

$nav-padding: 70px;
$main-call-height: 30px;
$nav-background-gray: #333;
$nav-border: #5c5c5c;
$nav-silver: #f1f1f1;
$num-of-links: 4;

body {
  padding-top: $nav-padding + $main-call-height;
  font-family: 'Oxygen', Arial, sans-serif;
  font-size: 16px;
}

h1, h2, h3 {
  font-family: 'Roboto Slab',serif;
  font-weight: normal;
  letter-spacing: .02em;
  line-height: 120%;
}
#content {
  padding: 0px;
}
#main-nav {
  height: $nav-padding;
  background-color: $nav-background-gray;
  font-size: 18px;
  a.nav-link.active {
    background-color: #111;
  }
  .nav-link {
    div {
      height: 100%;
    }

    text-align: center;
    height: 100%;
    border-left: 1px solid $nav-border;
    line-height: $nav-padding;
    color: $nav-silver;
    width: (60% / 4);
  }
}

#main-call-us {
  height: $main-call-height;
  background-color: #222;
  font-size: 20px;
  border-bottom: 1px solid $nav-border;
}

#brand-logo {
  max-height: $nav-padding;
  img{
    max-height: $nav-padding;
  }
}

#home-carousel {
  height: 20%;
}

.no-pad {
  padding: 0px;
}

.no-margin {
  margin: 0px;
}

.texture-1 {
  background-image: url("texture1.jpg");
  background-repeat: repeat
}

.texture-2 {
  background-image: url("texture2.png");
  background-repeat: repeat
}

.texture-3 {
  background-image: url("texture3.jpg");
  background-repeat: repeat
}

.texture-4 {
  background-image: url("texture4.jpg");
  background-repeat: repeat
}

$featurette-padding: 80px;
.featurette-container {
  padding-top: $featurette-padding;
  padding-bottom: $featurette-padding;
}

$footer-height: 200px;
footer {
  height: $footer-height;
  line-height: $footer-height;
  background-color: #333;
  width: 100%;
}
